<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="biz.sstechnos.employeedashboard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.camera2"
            android:required="true"/>

    <application
            android:name=".SSTApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".admin.upload.UploadDocumentsActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".dashboard.DashboardActivity">
        </activity>
        <activity android:name=".registration.RegistrationActivity">
        </activity>
        <activity android:name=".registration.ContactInfoActivity">
        </activity>
        <activity android:name=".registration.UploadIdCardActivity">
        </activity>
        <activity android:name=".registration.AccountCreationActivity">
        </activity>
        <activity android:name=".admin.EmployeeListingsActivity">
        </activity>
        <activity android:name=".admin.AddEmployeeActivity">
        </activity>
        <activity android:name=".admin.ViewEmployeeActivity">
        </activity>
        <activity android:name=".employee.TimeSheetActivity">
        </activity>
        <activity android:name=".employee.ViewDocumentsActivity">
        </activity>
        <activity android:name=".dashboard.ViewContactInfoActivity">
        </activity>
    </application>

</manifest>